Repository azerez/devops0405-p3-Automation-CICD: changes, and which Jenkins stages are due for each by the changed paths.
All: Package Chart, Publish to gh-pages, Build & Push Docker

Path conditions:
  Package Chart: any of: helm/**
  Publish to gh-pages: any of: helm/**
  Build & Push Docker: any of: App/**

chore(app): touch to trigger docker build
  App/README.md
Due: Build & Push Docker

ci: fix NonSerializable regex via @NonCPS; docker+deploy
  Jenkinsfile
Due: none

fix(chart): restore valid YAML (version/appVersion placeholders)
  helm/flaskapp/Chart.yaml
Due: Package Chart, Publish to gh-pages

ci: add docker build + helm publish + deploy
  Jenkinsfile
Due: none

ci: fix sandbox (no System.lineSeparator), robust YAML bump
  Jenkinsfile
Due: none

ci: fix sandbox (no System.lineSeparator), robust YAML bump
  Jenkinsfile
  helm/flaskapp/Chart.yaml
  helm/flaskapp/values.yaml
Due: Package Chart, Publish to gh-pages

publish chart 583efdc
  docs/.nojekyll
  docs/index.yaml
Due: none

publish chart f56f62f
  docs/flaskapp-0.1.2.tgz
  docs/index.yaml
Due: none

chore(helm): trigger publish after reset fix
  helm/flaskapp/Chart.yaml
Due: Package Chart, Publish to gh-pages

publish chart a022123
  docs/flaskapp-0.1.2.tgz
  docs/index.yaml
Due: none
